.loader {
    position: relative;
    width: 75px;
    height: 75px;
}

.loader:before,
.loader:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px transparent inset;
}
.loader:after {
    box-shadow: 0 2px 0 #c0c0c0 inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
